Django~=5.0.6
pip~=22.0.2
wheel~=0.43.0
PyYAML~=6.0.1
black~=24.4.2
platformdirs~=4.2.2
typing_extensions~=4.12.2
tomli~=2.0.1
packaging~=24.1
pathspec~=0.12.1
click~=8.1.7
isort~=5.13.2
identify~=2.5.36
setuptools~=59.6.0
pydantic~=2.7.4
pydantic_core~=2.18.4
asgiref~=3.8.1
sqlparse~=0.5.0
cfgv~=3.4.0
virtualenv~=20.26.2
distlib~=0.3.8
filelock~=3.15.3
django-ninja~=1.1.0